@charset "UTF-8"

html{
    font-size: 62.5%;
}
body{
    font-family: "IBM Plex Mono", monospace;
    /* 行間指定 */
    line-height: 1;
    color: rgb(0, 0, 0);
}
/* フォントの指定 */
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.home{
  display: flex;
  width: 100%;
  position: relative;
}
aside{
  width: 10%;
  background-color: white;
  z-index: 1;
}
.main { 
  width: 80%;
  background-color:transparent;
  z-index: 2;
 }
nav{
  width:10% ;
  background-color:white;
  z-index: 3;
 }

/* 左側タイトル */
/* 外側の四角 */
.outer-1{
  width: 100px;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
 top: 100px;
  transform: rotate(270deg) translateY(30%) ; /* 270°回転しつつ左端寄せ */
  transform-origin: left top; /* 左上を基準に回転 */
  box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.35); /* ドロップシャドウ */
}
/* 内側の四角 */
.inner-1{
  width: 98%;
  height: 75%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.35); /* ドロップシャドウ */
  text-decoration: none;
}
.inner-1 p{
  display: inline-block;
  pointer-events: none;
}
.inner-1:hover p{
  color: rgba(255, 255, 255,0.5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0,0.5),0 0 #ffffff ;/* インナーシャドウ風 */
}
.inner-1:active{
  -webkit-transform: translateX(-0.3px) translateY(0.3px) scale(0.995);
  box-shadow: inset -1px -1px 3px  rgba(0, 0, 0, 0.35); 
  
}
.inner-1:active p{
  color: rgb(240, 240, 240);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.35);
}

/* 左側の小さい文字 */
.small-text {
  font-size: 13px;
  color:rgba(255, 255, 255,0.35);
  text-align: left;
  text-shadow: 2px 2px 1px gainsboro,0 0 white /* インナーシャドウ風 */
}
/* 右側の大きい文字 */
.large-text {
  font-size: 48px;
  color: rgba(255, 255, 255,0.35);
  text-align: right;
  letter-spacing: 1.40em;
  text-shadow: 2px 2px 1px gainsboro,0 0 white; /* インナーシャドウ風 */
}
/* ナビゲーションメニュー */
.square-2{
  width: 146px;
  height: auto;
  aspect-ratio: 1 / 1.7; 
  display: flex;
  justify-content: flex-end; /* 右寄せ */
  position: fixed;/* スクロールしても固定 */
  right: 3%;
  margin-top: 20px;
  box-shadow:-1px 4px 4px rgba(0, 0, 0, 0.35) ;
  background-color: transparent; /* 🔥 背景のみ透明に */
}
.main-nav {
  list-style: none;
  padding-top: 10%;
  text-align: right;
  flex-direction: column;
}

.main-nav li {
  margin: 10px 20px;
  line-height: 2.5em;
}

.main-nav a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255,0.35);
  text-transform: capitalize;
  text-shadow: 0px 1px 1px white,0 0 #808080; /* インナーシャドウ風 */
}
.main-nav a:hover{
  color: rgba(255, 255, 255,0.35);
  text-shadow: 0px 1px 1px #c3c3c3,0 0 #505050; /* インナーシャドウ風 */
}

.main{
display: flex;
flex-direction: column;
}

h1{
width: max-content;
padding:30px 90px;
background-color: #ebebeb;
font-size: 24px;
font-weight: 300;
color: #c3c3c3;
text-shadow: 0px -1.5px 1.5px #505050,0px 1.5px 1.5px #ffffff; /* インナーシャドウ風 */
box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
margin-left: 10%;
margin-top:100px;
margin-bottom:60px;
text-align: center;
}

.outer{
  width: 85%;
  height: auto;
  aspect-ratio: 5/3;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  box-shadow: inset -1px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;

}

img{
  width: 45%;
  height: 35vh;
  object-fit: cover;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 2% auto;
}

.under-container{
  margin-bottom: 60px;
}
.button-container{
  margin: 20px 0 ;
  text-align: center;
}
.button-container a{
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebebeb;
  color: #cdcdcd;
  text-shadow: 0px -1.5px 1.5px #3f3f3f,0px 1.5px 1.5px #ffffff ;/* インナーシャドウ風 */
  font-weight: 250;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 4px 8.2px rgba(0, 0, 0, 0.3);
}
.button-container a:hover{
  color: #9e9e9e;
  text-shadow: 0px -1.5px 1.5px black,0px 1.5px 1.5px #ffffff ;/* インナーシャドウ風 */
}
.button-container a:active{
  transform: translateX(-1px) translateY(1px) ;
  box-shadow: -0.5px 1px 2px  rgba(0, 0, 0, 0.5);
}
.exp-container{
  width: 85%;
  background-color:white;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 120px;
}
h2{
  font-size: 20px;
  text-align: right;
  font-weight: 300;
  padding: 60px 8% 10px;
line-height: 1.5em;
}
h3{
  font-size: 16px;
  font-weight: 300;
  padding: 25px 8% 10px;
  line-height: 1.5em;
}
h4{
  font-size: 19px;
  text-align: right;
  font-weight: 300;
  padding: 0px 8% 40px;
 }
.exp-container p{
  font-size: 14px;
  font-weight: 300;
  padding: 0px 10% 10px; 
  line-height:2.2em;
}
@media(max-width:1500px){  
.outer{
  width: 90%;
}
.exp-container{
  width: 90%;
}
h2{
  padding: 60px 5vw 30px;
}
h3{
  padding: 25px 5vw 10px;
}
h4{
  padding: 0px 5vw 40px; 
}
.exp-container p{
  padding: 0px 7vw;
  line-height: 2em;
}
  h1{
    margin-left: 4vw;
  }
  }
@media(max-width:1000px){
  img{
    max-width: 95%;
    max-height: 95%;    
  }  
  h1{
    font-size: 22px;
    padding: 30px 7vw;
    margin-left: 8vw;
    margin-bottom: 8vh;
    
   }
   .outer{
    width: 80%;
  }
.exp-container{
  width: 80%;
  padding-bottom: 80px;
}
 .exp-container p{
 font-size: 13px;
padding: 0px 5vw 10px;
letter-spacing: 0.06rem;
line-height: 1.8em;
 }

 h2{
  letter-spacing: 0.06rem;
  padding: 60px 5vw 10px;
 }
h3{
  font-size: 15px;
  letter-spacing: 0.06rem;
}
  /* ナビゲーションメニュー */
    .square-2{
    width: 15vw;
    min-width: 140px;
    min-height: 260px;
    right: 3%;
    margin-top: 50px;
    }
    .main-nav a {
    font-size: 16px;
    }
    .main-nav li {
    margin-top: 14%;
    margin-right:2vw;
    line-height: 2.2em;
    }
    }
  @media(max-width:665px){

    h1{
      padding: 25px 7vw ;
      margin-bottom: 6vh;
    }
    .outer{
      width: 65vw;
    }
    .exp-container{
      width: 65vw;
    }

    .button-container a{
      font-size: 13px;
    }
    h2,h4{
      text-align: left;
    }
    h4{
    font-size: 17px;
    }
    /* 左側タイトル */
    .outer-1{
    transform: rotate(270deg) translateY(10%); /* 270°回転しつつ左端寄せ */
    height: 80px;
    }
    .large-text{
    font-size:32px ;
    }
    .small-text{
    font-size: 10px;
    }
    /* ナビゲーションメニュー */
    .square-2{
    width: 20vw;
    min-width: 100px;
    min-height: 190px;
    right: 3%;
    margin-top: 20px;
    }
    .main-nav a {
    font-size: 14px;
    }
    .main-nav li{
    line-height: 160%;
    }
  }
    @media(max-width:450px){
        .outer{
          min-width: 220px;
        }
   
        .exp-container{
        min-width: 220px;
        padding-bottom: 60px;
        }
         .exp-container p{
        padding: 5px 5vw 3vh ;
   
         font-size: 12px;
         text-align: justify;
         }
         h1{
        font-size: 19px;
        min-width: 120px;
        min-height: 40px;
         }
         h2{ 
        padding:6vh 5vw 10px;
        font-size: 20px;
         }
         h3{
          font-size: 15px;
        padding: 10px 5vw 5px;
         }
         h4{
          font-size: 16px;
         }
    /* 左側タイトル */
    .outer-1{
    transform: rotate(270deg) translateY(10%); /* 270°回転しつつ左端寄せ */
    height: 60px;
    }
    }
@media(max-width:390px){
  .outer{
    width: 75%;
  }
.exp-container{
  width: 75%;
}
h1{
font-size: 18px;

}
 h2{
padding:6vh 3vw 10px;
font-size: 19px;
letter-spacing: 0.08rem;
}

 h3{
font-size: 15px;
padding: 10px 3vw 5px;
letter-spacing: 0.08rem;
}
h4{
  font-size: 15px;
  padding-left:3vw;
 }
.exp-container p{

padding: 5px 3vw 3vh ;
letter-spacing: 0.08rem;
}
}
    