@charset "UTF-8"

html{
    font-size: 62.5%;
}
body{
    font-family: "IBM Plex Mono", monospace;
    /* 行間指定 */
    line-height: 1;
    color: rgb(0, 0, 0);
}
/* フォントの指定 */
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.home{
  display: flex;
  width: 100%;
}
aside{
  width: 10%;
  background-color: white;
  position: relative;
}
.main { 
  width: 80%;
  background-color: white;
display: flex;
flex-direction: column;

 }
nav{
  width:10% ;
  background-color:white;
  }

 /* タイトルの四角とボタンの四角の親 */
 .container{
  min-height: 100vh;
  background-color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  
  }
 .square-1  {
    width: 17%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 500px;
    min-width: 250px;
    background-color: #ebebeb;
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    padding-top: 1.3%;
    padding-right: 1.3%;
    left: 14%;
    top:60vh;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  .square-1 a{
    text-decoration: none;
  }
  .square-1:active{
    transform: translateX(-1px) translateY(1px) ;
    box-shadow: -0.5px 1px 2px  rgba(0, 0, 0, 0.5);
  }
  .content {
    display: flex;
    flex-direction: column; /* 縦並び */
    align-items: flex-end; /* 右寄せ */
    justify-content: space-between;
  }
  
  .text {
     
    font-size: 24px;
    font-weight: 300;
    line-height: 1.7;
    text-align: right;
    color: #c3c3c3;
    text-shadow: 0px -1.5px 1.5px #505050,0px 1.5px 1.5px #ffffff /* インナーシャドウ風 */
  }
 
  .sns-icons {
  display: flex;
  gap: 1.5vw; /* SNSアイコンの間隔 */
  padding-bottom: 15%;
  }
  
  .sns-icon {
    width: 38px; /* アイコンサイズ */
    height: auto;
    aspect-ratio: 1 / 1; /* 1:1比率を維持 */
    min-width: 30px;
  }
 /* クリックのたびに色が変わるbox */
.outer-2{
  width: 13%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70%; /* 左端に寄せる */
  top: 50%;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
}
.inner-2{
  width: 70%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
}
.outer-3{
  width: 7%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%; /* 左端に寄せる */
  top: 14%;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
}
.inner-3{
  width: 65%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
}
.outer-4{
  width: 8%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%; /* 左端に寄せる */
  top: 34%;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
}
.inner-4{
  width: 65%;
  height: auto;
  aspect-ratio: 1 / 1; /* 1:1比率を維持 */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow:inset -1px 4px 4px rgba(0, 0, 0, 0.2); /* インナーシャドウ */
} 
input {
  display: none; /* チェックボックスを非表示にする */
}

.symbol1 {
  font-size: 44px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow:-1px 4px 4px rgba(0, 0, 0, 0.5) ;
  
}
.symbol2 , .symbol3 {
  font-size: 28px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5) ;
}

input:checked + .symbol1 {
  color: rgb(201, 151, 151); /* クリックで赤に変わる */
}
input:checked + .symbol2 {
  color: rgb(147, 164, 242); /* クリックで青に変わる */
}
input:checked + .symbol3 {
  color: rgb(176, 229, 122); /* クリックで黄色に変わる */
}
label:hover{
color: rgba(0, 0, 0,0.2);
}
label:active{
-webkit-transform: translateX(-1.5px) translateY(2px);
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}
/* 作品サムネイル */
/* 6つのボックスを並べるコンテナ */
.box-container {
background-color: white;
display: flex;
flex-wrap: wrap;
column-gap: 5%;
row-gap: 30px;
justify-content: center;
padding-bottom: 30px;
background-color: transparent; /* 🔥 背景のみ透明に */
}
.outer-5 {
width :100%;
height: auto;
aspect-ratio: 1 / 1; /* 1:1比率を維持 */
max-width: 20vw;

background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
position: relative;
}
.inner-5 {
  width: 90%; /* 外枠に対して90%の幅 */
  height: 90%; /* 外枠に対して90%の高さ */
  background-color:gainsboro;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 完全な中央配置 */
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.5);
}
.inner-5 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;

}
.inner-5 img:hover{
 opacity: 0.8;
}

.inner-5:active{
  transform: translate(-50.5%, -49.5%)scale(0.995);
  box-shadow: inset -3px 4px 2px  black;
}
.button {
  display: inline-flex;
  padding: 15px 30px;
  background-color: #ebebeb;
  color: #cdcdcd;
  text-shadow: 0px -1.5px 1.5px #3f3f3f,0px 1.5px 1.5px #ffffff ;/* インナーシャドウ風 */
  font-weight: 250;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 4px 8.2px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 7.5%;
}

.button:hover{
  color: #9e9e9e;
  text-shadow: 0px -1.5px 1.5px black,0px 1.5px 1.5px #ffffff ;/* インナーシャドウ風 */
}
.button:active{
  transform: translateX(-1px) translateY(1px) ;
  box-shadow: -0.5px 1px 2px  rgba(0, 0, 0, 0.5);
}
.under-container{
position: relative;
margin-top: 60px;
margin-bottom: 20%;
}

/* ナビゲーションメニュー */
 .square-2{
  width: 146px;
  height: auto;
  aspect-ratio: 1 / 1.7; 
  display: flex;
  justify-content: flex-end; /* 右寄せ */
  position: fixed;/* スクロールしても固定 */
  right: 3%;
  margin-top: 20px;
  box-shadow:-1px 4px 4px rgba(0, 0, 0, 0.35) ;
  background-color: transparent; /* 🔥 背景のみ透明に */
}
.main-nav {
  list-style: none;
  padding-top: 10%;
  text-align: right;
  flex-direction: column;
}

.main-nav li {
  margin: 10px 20px;
  line-height: 2.5em;
}

.main-nav a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255,0.35);
  text-transform: capitalize;
  text-shadow: 0px 1px 1px white,0 0 #808080; /* インナーシャドウ風 */
}
.main-nav a:hover{
  color: rgba(255, 255, 255,0.35);
  text-shadow: 0px 1px 1px #c3c3c3,0 0 #505050; /* インナーシャドウ風 */
}
/* 左側タイトル */
/* 外側の四角 */
.outer-1{
  width: 100px;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
 top: 100px;
  transform: rotate(270deg) translateY(30%) ; /* 270°回転しつつ左端寄せ */
  transform-origin: left top; /* 左上を基準に回転 */
  box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.35); /* ドロップシャドウ */
}
/* 内側の四角 */
.inner-1{
  width: 98%;
  height: 75%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.35); /* ドロップシャドウ */
  text-decoration: none;
}
.inner-1 p{
  display: inline-block;
  pointer-events: none;
}
.inner-1:hover p{
  color: rgba(255, 255, 255,0.5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0,0.5),0 0 #ffffff ;/* インナーシャドウ風 */
}
.inner-1:active{
  -webkit-transform: translateX(-0.3px) translateY(0.3px) scale(0.995);
  box-shadow: inset -1px -1px 3px  rgba(0, 0, 0, 0.35); 
  
}
.inner-1:active p{
  color: rgb(240, 240, 240);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.35);
}

/* 左側の小さい文字 */
.small-text {
  font-size: 13px;
  color:rgba(255, 255, 255,0.35);
  text-align: left;
  text-shadow: 2px 2px 1px gainsboro,0 0 white /* インナーシャドウ風 */
}
/* 右側の大きい文字 */
.large-text {
  font-size: 48px;
  color: rgba(255, 255, 255,0.35);
  text-align: right;
  letter-spacing: 1.4em;
  text-shadow: 2px 2px 1px gainsboro,0 0 white; /* インナーシャドウ風 */
}
@media(max-width:1000px){
.outer-3{
  display: none;
}
.outer-2{
  width: 20%;
  top: 40%;
 left: 55%;
 min-width: 110px;
}
.outer-4{
  width: 13%;
  top: 20%;
  left: 32%;
  min-width: 70px;
}
.square-1{
  width: 26%;
  min-width: 225px;
  left: 17.7%;
  top: 65vh;
  padding-top: 2%;
  padding-right: 2%;
}
.sns-icons{
  gap: 2.0vw;
}
.text{
  font-size: 22px ;
line-height: 1.7em;

}
.symbol1{
  font-size: clamp(20px, 6vw, 40px);
}
.symbol3{
  font-size: clamp(14px, 6vw, 24px);
}
.square-2{
  width: 15vw;
  min-width: 140px;
  min-height: 260px;
 
  right: 3%;
  margin-top: 50px;
}
.main-nav a {
  font-size: 16px;
}
.main-nav li {
  margin-top: 14%;
  margin-right:  2vw;
  line-height: 2.2em;
}
.outer-5 {
  max-width: 30vw; 
}
}
  @media(max-width:600px){
.outer-1{
  transform: rotate(270deg) translateY(10%); /* 270°回転しつつ左端寄せ */
  height: 80px;
}

.large-text{
  font-size:32px ;
}
.small-text{
  font-size: 10px;
}
.square-1  {
  padding-top: 2.5%;
  padding-right: 2.5%;
  left: 18%;
  width: 20%;
  min-width: 180px;
}
.text{
  font-size: 18px;
}
.outer-2{
 min-width: 100px;

 left: 50%;
}
.outer-4{
  min-width: 70px;

  left: 25%;
}
.sns-icons {
  padding-bottom: 10%;
  gap: 3.3vw;
  }

.square-2{
    width: 20vw;
    min-width: 100px;
    min-height: 190px;
    right: 3%;
    margin-top: 20px;
}
.main-nav a {
  font-size: 14px;
}
.main-nav li {
    line-height: 160%;
  }

.outer-5 {
  max-width: 33vw; 
}
.button {
    padding: 10px 20px;
    font-size: 13px;
}
}
@media(max-width:450px){
  .outer-1{
    transform: rotate(270deg) translateY(10%); /* 270°回転しつつ左端寄せ */
    height: 60px;
  }
  .under-container{
    margin-bottom: 40%;
    }
    .square-1  {
      min-width: 160px;
    }
}
@media(max-width:390px){

  .under-container{
      margin-bottom: 30%;
    }
  
}

